body {
  font-family: Open Sans, sans-serif;

  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;

}

.content {
  z-index: 10;
  transform: translateY(-50px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 75px ;
  border-bottom:1px solid white ;
}

.header a {
  font-weight: bold;
  color: white;

}

.header a:hover {

  color: #2b3e51;
  transition: 0.5s ;
}



.banner {
  background: url("https://monkeylearn.com/static/bg-demomodel-hero-13e0f9da59e5f1dda870f28c40eec457.webp");
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}

.banner_p {
  color: #c5e6ff;
  font-size: 18px;
}

.banner h1 {
  font-weight: normal;
  font-size: 44px;
}
.content{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h2{
  color:#008bff;
  text-align: center;
  font-weight: normal;
}
.content_model{
  padding: 30px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 2px 0 rgba(119,135,147,.2), 0 10px 30px 0 rgba(119,135,147,.2);
}
.content_model h3{
  font-weight: normal;
  font-size: 22px;
  text-align: center;
}
.content_model_left{
  border-right:1px solid #d4d8db ;
  padding: 20px;
}
.content_model_right{
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 80%;
  margin: auto;
  gap: 10px;
}
.data h2{
  color:#008bff ;
  text-align: center;
  font-weight: normal;
}
.data a,p{

  font-size: 20px;
}
.solution{
  width: 80%;
  padding: 100px 0;
  margin: auto;
}
.solution h2{
  transform: translateY(-50px);
  color:#008bff ;
  text-align: center;
  font-weight: normal;
  
}
.solution_card {
  background: #fff !important;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 16px;
  line-height: 25px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 25px;
}
.warpper{
  background: #e7e9eb ;
}
footer{
  background: #2b3e51;
}


.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}
.card {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 200px;

}