<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sentiment analyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>
    <div class=" header d-flex justify-content-between align-items-center">
      <a href="#">
        <img src="https://monkeylearn.com/static/977803111927cbffceae76c2f731a7b0/4649f/logo-white.webp" class="w-50">
      </a>
      <div class=" d-flex justify-content-around align-items-center gap-5">
        <div>
          <a href="#data">DATASET</a>
        </div>
        <div>
          <a href="#solution">MEMBER</a>
        </div>
        <div>
          <a href="#try">TRY NOW</a>
        </div>
      </div>

    </div>

  </header>
  <section class="banner">
    <div>
      <h1 class="text-center">SENTIMENT ANALYSIS</h1>
      <p class="banner_p">Use sentiment analysis to quickly detect emotions in text data.</p>
    </div>
  </section>
  <section class="content" id="try">
    <h2>Play around with our sentiment analyzer, below:</h2>
    <div class="content_model">
      <div class="content_model_left">
        <h3>Test with your own text</h3>
        <form action="" method="POST" class="form d-flex flex-column gap-4">
          <textarea name="textarea" rows="5" cols="50" placeholder="Comment text.">{{ request.form['textarea'] }}</textarea>
          <input type="submit" name="submit" id="btn" class=" btn btn-primary">
        </form>
      </div>
      <div class="content_model_right">
        <h3>Results</h3>
        <h2 class="ouput">{{message}}</h2>
      </div>
    </div>
  </section>
  <section id="data">
    <div class="data">
      <h2>Dataset</h2>
      <a href=" https://www.kaggle.com/datasets/piyushagni5/sentiment-analysis-for-steam-reviews" target="_blank">Sentiment Analysis for Steam Reviews
        for Sentiment
        Analysis</a>
      <p class="">
        Đưa ra văn bản đánh giá có đề xuất của người dùng và thông tin khác liên quan đến từng trò chơi cho 64 tựa trò chơi, nhiệm vụ là tạo một tập kiểm tra bằng cách tách khỏi tập huấn luyện và cố gắng dự đoán xem người đánh giá có đề xuất các tựa trò chơi có sẵn trong bài kiểm tra hay không được thiết lập trên cơ sở văn bản đánh giá và các thông tin khác
      </p>
    </div>
  </section>
  <section id="solution" class="warpper">
    <div class="solution ">
      <h2>Thành viên</h2>
      <div class="row w-50 m-auto">
        <div class="solution_card col card align-items-center justify-content-center">
          <i class="fa-solid fa-user-tie fa-3x"></i>
          <h4 class="font-semibold">Trần Ngọc Thành</h4>
        </div>
        <div class="solution_card col card align-items-center justify-content-center">
          <i class="fa-solid fa-user-tie fa-3x"></i>
          <h4 class="font-semibold">Đặng Công Phú</h4>
        </div>

      </div>

  </section>

  <footer class="text-center text-white">
    <div class="container p-4 pb-0">

      <section class="mb-4">

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>


        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>


        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
    </div>


    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © All rights reserved 2024

    </div>
  </footer>

  <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i
      class="fas fa-chevron-up"></i></a>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $('#back-to-top').fadeIn();
        } else {
          $('#back-to-top').fadeOut();
        }
      });

      $('#back-to-top').click(function () {
        if ($(window).scrollTop() > 0) {
          $('body,html').animate(
            {
              scrollTop: smooth,
            },
            400
          );
          return false;
        }
      });

      if ($(window).scrollTop() === 0) {
        $('#back-to-top').hide();
      }
    })</script>
</body>

</html>